[submodule "content/writeups"]
	path = content/writeups
	url = git@github.com:liuhack/writeups.git
[submodule "public"]
	path = public
	url = https://github.com/liuhack/liuhack.github.io
	branch = master
